.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 20%;
  background-color: #ffffff;
  color: black;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.content-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-title {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  color: #333;
  font-size: 35px;
  font-weight: bold;
  flex: 0 0 auto;
  margin-left: 20%;
}

.images-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  position: relative;
  flex: 0 0 30%;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20%;
}

.image-top {
  z-index: 1;
  width: 100%;
  height: auto;
}

.image-bottom {
  position: absolute;
  z-index: 0;
  left: 50%; /* Position the bottom image horizontally centered */
  top: 50%; /* Position the bottom image vertically centered */
  transform: translate(-50%, -50%); /* Adjust the position to center the image */
  width: 95%;
  height: auto;
}

.text-content {
  flex: 1;
  padding: 5px;
  background-color: #fff;
  color: #333;
  overflow-y: auto;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .content-body {
    flex-direction: column;
  }

  .images-container {
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}