.BiddingBoxContainer{
    border: 2px solid #232f60;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.buy-button{
    color: #232f60;
    background-color: #232f60;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}