.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    flex: 0 0 20%;
    background-color: #ffffff;
    color: black; 
  }
  
  .content {
    display: flex; 
    flex-direction: column; 
    flex: 0 0 80%;
    padding: 1px;
  }
  
  .content-body {
    display: flex;
    flex-direction: column;
  }
  
  .content-title {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    font-size: 35px;
    font-weight: bold;
    flex: 0 0 auto;
  }

  .bullet-point {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

  }

  .header-box {
    display: flex;
    align-items: center; 
  }

  .icon{
    display: flex; /* Changed from 'display: 0 0 30%;' which is invalid */
    height: 80px;
    width: 80px;
    padding: 20px;
    margin-left: 40px;
  }
  
  .header {
    width: 100%;
    font-weight: bold;
    font-size: 35px;
    color: #a595d4; 
  }
  
  .description {
    display: block;
    width: 100%;
    font-size: 20px;
    color: black;
    padding-left: 120px;
  }

  .slogan {
    width: 100%;
    padding: 20px;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

